.greet{
    &__background{
        text-align: center;
        overflow: hidden;
        z-index: -1;
        &__image{

        }
    }
    &__content{
        color: #fff;
        left: 50%;
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translate(-50%,-50%);
        background: rgba(0, 0, 0, 0.7);
        color: white;
        padding: 2rem;
        border-radius: 2rem;
        &__title{
            font-size: 4rem;
            margin-bottom: 2rem;
            line-height: 5rem;
        }
        &__body{
            font-size: 2rem;
            line-height: 3rem;
        }
    }
}
.solution{
    display: flex;
    justify-content: center;
    align-items: center;
    &__content{
        max-width: 1440px;
        margin: auto;
        &__title{
            font-size: 3rem;
            margin-bottom: 2rem;
            line-height: 3rem;
            text-align: center;
        }
        &__body{
            display: flex;
        }
        & .container{
            background: #005A51;
            margin: 1rem;
            border-radius: 1rem;
            padding: 2rem;
            
            &__logo{
                min-width: 150px;
                width: 200px;
                margin: auto;
            }
            &__title{
                color: white;
                font-size: 2rem;
                line-height: 2.5rem;
                text-align: center;
            }
        }
    }
}
.project{
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    &__content{
        max-width: 1440px;
        margin: auto;
        &__title{
            color: white;
            font-size: 3rem;
            margin: 4rem;
            line-height: 3rem;
            text-align: center;
        }
        &__body{
            display: flex;
        }
        & .container{
            background: #005A51;
            margin: 1rem;
            border-radius: 1rem;
            
            &__logo{
                margin: auto;
                & img{
                    width: 100%;
                    border-radius: 1rem;
                }
            }
            &__title{
                color: white;
                font-size: 2rem;
                line-height: 2.5rem;
                padding: 2rem;
                text-align: center;
            }
        }
    }
}
.partner{
    &__content{
        max-width: 1440px;
        margin: auto;
        &__title{
            font-size: 3rem;
            margin: 4rem;
            line-height: 3rem;
            text-align: center;
        }
        &__body{
            display: flex;
        }
        & .container{
            background: #005A51;
            margin: 1rem;
            border-radius: 1rem;
            padding: 2rem;
            
            &__logo{
                min-width: 150px;
                width: 200px;
                margin: auto;
            }
            &__title{
                color: white;
                font-size: 2rem;
                line-height: 2.5rem;
                text-align: center;
            }
        }
    }
    &__logo{
        min-width: 150px;
        width: 200px;
        margin: auto;
    }
}
.contact{
    background-color: #005A51;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    margin-top: 4rem;
    &__content{
        max-width: 1440px;
        margin: auto;
        &__body{
            color: white;
            font-size: 2rem;
            line-height: 2.5rem;
            padding: 2rem 0;
        }
        &__button{
            background-color: white;
            border-radius: 1rem;
            padding: 1rem;
            height: 1rem;
            width: 12rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Mina;
            font-size: 1.5rem;
            color: black;
            text-decoration: none;
            & img{
                max-height: 4rem;
            }
        }
    }
}