<section class="greet">
  <div class="greet__background">
    <img alt="Greet Image" class="greet__background__image" src="./assets/automation.png">
  </div>
  <div class="greet__content">
    <h1 class="greet__content__title">
      Re:imagining Warehousing
    </h1>
    <p class="greet__content__body">
      Enabling warehousing and logistic for simple and quick operation through Automation
    </p>
  </div>
</section>

<section class="solution">
  <div class="solution__content">
    <h1 class="solution__content__title">
      Our Solution
    </h1>
    <div class="solution__content__body">
      <div class="container">
        <div class="container__logo">
          <img src="./assets/truck.svg" alt="" srcset="">
        </div>
        <div class="container__title">Vehicle & Asset Tracking</div>
      </div>
      <div class="container">
        <div class="container__logo">
          <img src="./assets/warehouse.svg" alt="" srcset="">
        </div>
        <div class="container__title">Warehouse Management</div>
      </div>
      <div class="container">
        <div class="container__logo">
          <img src="./assets/automation.svg" alt="" srcset="">
        </div>
        <div class="container__title">Warehouse Automation</div>
      </div>
    </div>
  </div>
</section>

<section class="project">
  <div class="project__content">
    <h1 class="project__content__title">
      Our Projects
    </h1>
    <div class="project__content__body">
      <div class="container">
        <div class="container__logo">
          <img src="./assets/mrbot.png" alt="" srcset="">
        </div>
        <div class="container__title">Waste Sorting Robot</div>
      </div>
      <div class="container">
        <div class="container__logo">
          <img src="./assets/mrbot.png" alt="" srcset="">
        </div>
        <div class="container__title">Waste Sorting Robot</div>
      </div>
      <div class="container">
        <div class="container__logo">
          <img src="./assets/mrbot.png" alt="" srcset="">
        </div>
        <div class="container__title">Waste Sorting Robot</div>
      </div>
    </div>
  </div>
</section>

<section class="partner">
  <div class="partner__content">
    <h1 class="partner__content__title">
      Partners & Clients
    </h1>
    <div class="partner__content__body">
      <div class="partner__logo">
        <img src="./assets/pertamina.png" alt="" srcset="">
      </div>
    </div>
  </div>
</section>

<section class="contact" id="contact_section">
  <div class="contact__content">
    <p class="contact__content__body">
      Get in touch to learn more about <br />
      how our technology can revolutionize your business.
    </p>
    <a href="https://wa.me/6285216969611?text=Saya%20tertarik%20dengan%20robot%20Anda" class="contact__content__button">
      <img src="./assets//whatsapp.png" alt="" srcset="">
      WhatsApp
    </a>
  </div>
</section>