<div class="wh-list">
  <div class="wh-list__content">
    
    <img *ngIf="(principles$ | async)?.length==0" src="./assets/warehouse_2.svg" 
    alt="" class="wh-list__img">
    <div class="wh-list__body">
      <ng-template [ngIf]="(principles$ | async)?.length>0">
        <ng-template ngFor let-item [ngForOf]="(principles$ | async)" let-i="index">
          <div class="wh-list__element">
            <div class="wh-list__element__name">{{item.name}}</div>
            
            <div class="wh-list__button-container">
              <button mat-raised-button color="primary" class="wh-list__button" (click)="editPrinciple(item)">Edit</button>
              <!-- <button mat-raised-button type="submit" color="warn" class="wh-list__button" (click)="deleteWarehouse(item)">Delete</button> -->
            </div>
            <hr class="wh-list__hr">
          </div>
        </ng-template>
      </ng-template>
      <ng-template [ngIf]="(principles$ | async)?.length==0">
        <div class="wh-list__title">Empty Principle</div>
      </ng-template>
      <button mat-raised-button class="form-submit-btn" [routerLink]="['/principle/add']">Add Principle</button>
    </div>
    
  </div>
</div>