<div class="form">
  <div class="form__content">
    <h1 class="form__title">
      {{title}}
    </h1>
    <div class="form__body">
      <form [formGroup]="productForm" (submit)="submit()" class="form-container">
        <div class="input-form-grid">
          <mat-label class="form__key">Nama Barang</mat-label>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Nama Barang</mat-label>
            <input type="text" required matInput formControlName="name" />
          </mat-form-field>

          <!-- <mat-label class="form__key">SKU Principle</mat-label>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>SKU Principle</mat-label>
            <input type="text" required matInput formControlName="skuPrinciple" />
          </mat-form-field> -->
          
          <mat-label class="form__key">Nama Principle</mat-label>
          <div class="form-field">
            <mat-select formControlName="principleId" name="principleId" required (selectionChange)="onPrincipleChange($event)">
              
              <mat-option value="">Select Principle</mat-option>
              <mat-option *ngFor="let principle of principle$ | async" [value]="principle.id">
                {{ principle.name }}
              </mat-option>
            </mat-select>
          </div>

          <mat-label class="form__key">Minimum Low Qty</mat-label>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Minimum Low Qty</mat-label>
            <input type="number" required matInput formControlName="lowQty" />
          </mat-form-field>

          <mat-label class="form__key">Expire Date Limit</mat-label>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Expire Date Limit</mat-label>
            <input type="number" required matInput formControlName="expireDateLimit" />
          </mat-form-field>

          <mat-label class="form__key">Ada Expiry</mat-label>
          <div class="form-field">
            <mat-select formControlName="hasExpireDate" name="hasExpireDate" required
              (selectionChange)="onHasExpiryChange($event)"  [value]="productForm.value.hasExpireDate">
              <mat-option value="false">Tidak Ada</mat-option>
              <mat-option value="true">Ada</mat-option>
            </mat-select>
          </div>

          <mat-label class="form__key">Ada Range SKU</mat-label>
          <div class="form-field">
            <mat-select formControlName="hasRange" name="hasRange" required
              (selectionChange)="onHasRangeChange($event)" [value]="productForm.value.hasRange">
              <mat-option value="false">Tidak Ada</mat-option>
              <mat-option value="true">Ada</mat-option>
            </mat-select>
          </div>

          <ng-template [ngIf]="productForm.value.hasRange=='true'">
            <mat-label class="form__key">SKU Mulai</mat-label>
            <mat-form-field class="form-field"  appearance="outline">
              <mat-label>SKU Mulai</mat-label>
              <input type="text" required matInput formControlName="rangeHigh" />
            </mat-form-field>

            <mat-label class="form__key">SKU Akhir</mat-label>
            <mat-form-field  class="form-field" appearance="outline">
              <mat-label>SKU Akhir</mat-label>
              <input type="text" required matInput formControlName="rangeLow" />
            </mat-form-field>
          </ng-template>

          <mat-label class="form__key">Foto Barang</mat-label>
          <div class="upload-field">
            <div class="image-container" *ngIf="imageSrc">
              <img [src]="imageSrc" alt="" />
            </div>
            <span>Upload Material image:</span>
            <input #image hidden="true" type="file" onclick="this.value=null" (change)="imageChange($event)"
            accept="image/jpeg" />
          <button class="action-btn" type="button" (click)="image.click()">
            Choose Image
          </button>
          </div>

        </div>
        <!-- {{productForm.value | json}} -->
        
        <button mat-raised-button type="button" (click)="openDialog()" class="form-submit-btn">Submit</button>
      </form>
    </div>
  </div>
</div>