.about-us{
    &__background{
        text-align: center;
        overflow: hidden;
        z-index: -1;
        &__image{
            width: 100vw;
        }
    }
    &__content{
        max-width: 1440px;
        margin: auto;
        color: #fff;
        left: 50%;
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translate(-50%,-50%);
        background: rgba(0, 0, 0, 0.7);
        padding: 2rem;
        border-radius: 2rem;
        &__title{
            font-size: 4rem;
            margin-bottom: 2rem;
            line-height: 5rem;
        }
        &__body{
            font-size: 2rem;
            line-height: 3rem;
        }
    }
}
.vision{
    max-width: 1440px;
    margin: auto;
    &__content{
        text-align: center;
        color: black;
        padding: 2rem;
        &__title{
            font-size: 3rem;
            margin-bottom: 2rem;
            line-height: 5rem;
        }
        &__sub-title{
            font-size: 2.5rem;
            line-height: 3rem;
            text-align: start;
            padding: 2rem 0;
        }
        &__body{
            font-size: 2rem;
            line-height: 3rem;
        }
    }
}