<section class="about-us">
  <div class="about-us__background">
    <img alt="about-us Image" class="about-us__background__image" src="./assets/company.jpg">
  </div>
  <div class="about-us__content">
    <h1 class="about-us__content__title">
      About Us
    </h1>
    <p class="about-us__content__body">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi euismod aliquam ligula non vestibulum Lorem ipsum
      dolor sit amet, consectetur adipiscing elit. Morbi euismod aliquam ligula non vestibulum Lorem ipsum dolor sit
      amet, consectetur adipiscing elit. Morbi euismod aliquam ligula non vestibulum
    </p>
  </div>
</section>

<section class="vision">
  <div class="vision__content">
    <h1 class="vision__content__title">
      Vision & Mission
    </h1>
    <h2 class="vision__content__sub-title">
      Mission
    </h2>
    <p class="vision__content__body">
      To build logistics & warehousing solutions in Indonesia for lower costs, simple and quick operation through
      automation technologies
    </p>
    <h2 class="vision__content__sub-title">
      Vision
    </h2>
    <p class="vision__content__body">
      To create fully automated warehousing & logistic to realize their full efficiency
    </p>
  </div>
</section>