.wh-add{
    &__title{
        color: #656565;
        margin: auto;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        padding-top: 1rem;
    }
    &__body{
        max-width: 550px;
    }
    &__content{
        display: grid;
        justify-content: center;
    }
}