<section class="our-team">
  <div class="our-team__content">
    <h1 class="our-team__content__title">
      Our Teams
    </h1>
    <div class="our-team__content__body">
      <div class="container">
        <div class="container__logo">
          <img src="./assets/handoyo.png" alt="" srcset="">
        </div>
        <div class="container__title">
          Handoyo <br />
          Founder (CEO)
        </div>
        <div class="container__description">
          Industrial automation Expert Graduated from Taiwan in Mechanical Engineering Worked in hightech
          industrial manufacture and automation field for several years in Taiwan and Mainland China
          Experienced in Industrial process, Automation R&D, industry 4.0, Logistic & warehouse R&D and
          Automation machine Sales
        </div>
      </div>
      <div class="container">
        <div class="container__logo">
          <img src="./assets/darwin.png" alt="" srcset="">
        </div>
        <div class="container__title">
          Darwin Yo <br />
          Co-Founder (CTO)
        </div>
        <div class="container__description">
          Mechatronic and Software Expert Worked in Software development field for several years
          Experienced in building 3-axis robot and machine visual, Object Detection AI (Deep Learning),
          IoT Programming, Software Operations (Kubernetes & Cloud) mobile apps and Web
        </div>
      </div>
    </div>
  </div>
</section>

<section class="certifications">
  <div class="certifications__content">
    <h1 class="certifications__content__title">
      Certifications
    </h1>
    <div class="certifications__content__body">
      <div class="certifications__group">

        <div class="certifications__image">
          <img src="./assets/cert3.PNG" alt="" srcset="">
        </div>
        <div class="certifications__image">
          <img src="./assets/cert4.PNG" alt="" srcset="">
        </div>
        <div class="certifications__image">
          <img src="./assets/cert5.PNG" alt="" srcset="">
        </div>
      </div>
      <div class="certifications__group">
        <div class="certifications__image">
          <img src="./assets/cert1.PNG" alt="" srcset="">
        </div>
        <div class="certifications__image">
          <img src="./assets/cert2.PNG" alt="" srcset="">
        </div>
      </div>

    </div>
  </div>
</section>