<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<div class="mat-elevation-z8 table-container">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="modifiedDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Modify Date </th>
      <td mat-cell *matCellDef="let row"> {{row.modifiedDate | date}} </td>
    </ng-container>

    <ng-container matColumnDef="modifiedBy">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Modified By </th>
      <td mat-cell *matCellDef="let row"> {{row.modifiedBy}} </td>
    </ng-container>
    
    <ng-container matColumnDef="productName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Name </th>
      <td mat-cell *matCellDef="let row"> {{row.productName}} </td>
    </ng-container>

    <ng-container matColumnDef="beforeStock">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Before Stock </th>
      <td mat-cell *matCellDef="let row"> {{row.beforeStock}} </td>
    </ng-container>

    <ng-container matColumnDef="afterStock">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> After Stock </th>
      <td mat-cell *matCellDef="let row"> {{row.afterStock}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

