.navbar{
    font-family: 'Mina';
    &__content{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: auto;
    }
    &__content--mobile{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        max-width: 550px;
        margin: auto;
    }
    &__menu-content{
        display: flex;
        align-items: center;
    }
    &__spacer{
        width: 40px;
    }
    &__menu{
        color: #707070;
        text-decoration: none;
        &--mid{
            margin: auto;
        }
        &__contact{
            background-color: #005A51;
            color: #ffffff;
            text-decoration: none;
            border-radius: 1rem;
            font-weight: 700;
            padding: .75rem 1.5rem; 
        }
        &--selected{
            background-color: #005A51;
            text-decoration: none;
            border-radius: 1rem;
            color: #ffffff;
            font-weight: 700;
            padding: 0.5rem 0.75rem;
        }
    }
    &__logo{
        height: 3rem;
        margin: 1rem 0 0 0;
    }
    &__lang{
        margin: 0 1rem;
    }
    @media (max-width: $tablet-screen) {
        &__logo{
            height: 3rem;
        }
        &__menu{
            font-size: .8rem;
            margin: 0 .5rem;
            &__contact{
                font-size: .8rem;
                padding: .75rem 1rem; 
            }
            &--selected{
                font-size: .8rem;
            }
        }
        &__lang{
            margin: 0 .5rem;
        }
    }
}