<div class="page">
    <h3 class="error-page__title">
      401 Unauthorized
    </h3>
    <div class="error-page__content">
      <div class="error-page__content__row">
          You are not authorized to access this page.
      </div>
      <div class="error-page__content__row">
          this may happen because you are not authenticated,
      </div>
      <div class="error-page__content__row">
        or administrator doesn't give you access claims.
      </div>
      <div class="error-page__content__row">
        Please contact your administrator for more details.
      </div>
    </div>
  </div>
  