<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<div class="mat-elevation-z8 table-container">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="warehouseName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Warehouse Name </th>
      <td mat-cell *matCellDef="let row"> {{row.warehouseName}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>
    
    <ng-container matColumnDef="from">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Photo Url </th>
      <td mat-cell *matCellDef="let row"> {{row.photoUrl}} </td>
    </ng-container>

    <ng-container matColumnDef="expiryDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Expiry Date </th>
      <td mat-cell *matCellDef="let row"> {{row.expiryDate}} </td>
    </ng-container>
    
    <ng-container matColumnDef="qty">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Qty </th>
      <td mat-cell *matCellDef="let row"> {{row.qty}} </td>
    </ng-container>

    <ng-container matColumnDef="quantifier">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantifier </th>
      <td mat-cell *matCellDef="let row"> {{row.quantifier}} </td>
    </ng-container>

    <ng-container matColumnDef="sku">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> SKU </th>
      <td mat-cell *matCellDef="let row"> {{row.sku}} </td>
    </ng-container>

    <ng-container matColumnDef="areaLevel1">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> AreaLevel1 </th>
      <td mat-cell *matCellDef="let row"> {{row.areaLevel1}} </td>
    </ng-container>

    <ng-container matColumnDef="areaLevel2">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> AreaLevel2 </th>
      <td mat-cell *matCellDef="let row"> {{row.areaLevel2}} </td>
    </ng-container>

    <ng-container matColumnDef="areaLevel3">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> AreaLevel3 </th>
      <td mat-cell *matCellDef="let row"> {{row.areaLevel3}} </td>
    </ng-container>

    <ng-container matColumnDef="areaLevel4">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> AreaLevel4 </th>
      <td mat-cell *matCellDef="let row"> {{row.areaLevel4}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

