<div class="form">
  <div class="form__content">
    <h1 class="form__title">
      {{title}}
    </h1>
    <div class="form__body">
      <form [formGroup]="scanForm" (submit)="submit()" class="form-container">
        <div class="input-form-grid">
          <mat-label class="form__key">Transfer Tipe</mat-label>
          <mat-form-field class="form-field" appearance="outline">
            <mat-select formControlName="type" name="type" required (selectionChange)="onTransferTypeChanged($event)"
              [value]="scanForm.value.type">
              <mat-option value="Outbound">Outbound</mat-option>
              <mat-option value="Request Kirim">Request Kirim</mat-option>
              <mat-option value="Inbound">Inbound</mat-option>
              <mat-option value="Request Terima">Request Terima</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!-- <div class="input-form-grid">
          <mat-label class="form__key">SKU</mat-label>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>SKU</mat-label>
            <input type="text" required matInput formControlName="sku" />
          </mat-form-field>
        </div> -->
        <div class="input-form-grid"
          *ngIf="(scanForm.value.type=='Request Kirim' || scanForm.value.type=='Request Terima') && !scanForm.value.any ">
          <mat-label class="form__key">Expire Date</mat-label>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Expire Date</mat-label>
            <mat-date-range-input [formGroup]="scanForm" [rangePicker]="expirePicker"
              [comparisonStart]="scanForm.value.startDate" [comparisonEnd]="scanForm.value.endDate">
              <input matStartDate placeholder="Start date" formControlName="startDate">
              <input matEndDate placeholder="End date" formControlName="endDate">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="expirePicker"></mat-datepicker-toggle>
            <mat-date-range-picker #expirePicker></mat-date-range-picker>
          </mat-form-field>
        </div>
        <div class="input-form-grid"
          *ngIf="scanForm.value.type=='Request Kirim' || scanForm.value.type=='Request Terima'">
          <mat-label class="form__key">Expire Date</mat-label>
          <mat-checkbox class="form-field" formControlName="any">Tidak Ada</mat-checkbox>
        </div>
        <!-- {{whForm.value | json}} -->
        <div *ngIf="(warehouse$ |async)===null">Warehouse anda belum terdaftar, hubungi super admin</div>
        <button mat-raised-button type="button" (click)="openDialog()"  class="form-submit-btn" [disabled]="(warehouse$ |async)===null">Submit</button>
      </form>
    </div>
  </div>
</div>