<div class="form">
  <div class="form__content">
    <h1 class="form__title">
      {{title}}
    </h1>
    <div class="form__body">
      <form [formGroup]="principleForm" (submit)="submit()" 
      class="form-container">
        <div class="input-form-grid">
          <mat-label class="form__key">Nama Principle</mat-label>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Nama Principle</mat-label>
            <input type="text" required matInput formControlName="name" />
          </mat-form-field>
        </div>
        <!-- {{principleForm.value | json}} -->
        <button mat-raised-button type="submit" class="form-submit-btn">Submit</button>
      </form>
    </div>
  </div>
</div>