<div class="form">
  <div class="form__content">
    <h1 class="form__title">
      {{title}}
    </h1>
    <div class="form__body">
      <form [formGroup]="inventoryForm" (submit)="submit()" class="form-container">
        <div class="input-form-grid">
          <mat-label class="form__key">Nama Barang</mat-label>
          <mat-label class="form__value-static">{{(inventory$ | async)?.product.name}}</mat-label>
        </div>
        <div class="input-form-grid">
          <mat-label class="form__key">SKU Paxel</mat-label>
          <mat-label class="form__value-static">{{(inventory$ | async)?.sku}}</mat-label>
        </div>
        <div class="input-form-grid">
          <mat-label class="form__key">SKU Principle</mat-label>
          <mat-label class="form__value-static">{{(inventory$ | async)?.product.skuPrinciple}}</mat-label>
        </div>
        <div class="input-form-grid">
          <mat-label class="form__key">Nama Principle</mat-label>
          <mat-label class="form__value-static">{{(principle$ | async)?.name}}</mat-label>
        </div>

        <div class="input-form-grid"  *ngIf="!(inventory$ | async)?.product.unique">
          <mat-label class="form__key">Kuantiti</mat-label>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Kuantiti</mat-label>
            <input type="number" required matInput formControlName="qty" />
          </mat-form-field>
        </div>

        <div class="input-form-grid" *ngIf="(inventory$ | async)?.product.hasExpireDate">
          <mat-label class="form__key">Expire Date</mat-label>
          <mat-form-field appearance="outline">
            <mat-label>Expire Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="expiryDate">
            <mat-datepicker-toggle matSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          
        </div>

        <div class="input-form-grid">
          <mat-label class="form__key">Note</mat-label>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Note</mat-label>
            <input type="text" matInput formControlName="note" />
          </mat-form-field>
        </div>
        <!-- {{inventoryForm.value | json}} -->
        <button mat-raised-button type="submit" class="form-submit-btn">Submit</button>
      </form>
    </div>
  </div>
</div>