<nav class="navbar">
  <div class="navbar__content">
    <a routerLink="/" class="navbar__menu">
      <img alt="FluctWare's logo" class="navbar__logo" src="./assets/logo.png">
    </a>
    <div class="menu-icon">
      <span class="line-1"></span>
      <span class="line-2"></span>
      <span class="line-3"></span>
    </div>
    <div class="navbar__menu-content">
      <a routerLink="/our-teams" class="navbar__menu">
        TEAMS
      </a>
      <a routerLink="/about-us" class="navbar__menu">
        ABOUT US
      </a>
      <div class="navbar__lang">
        <a href="/#" class="navbar__menu--selected">
          EN
        </a>
      </div>
      <a href="/#contact_section" class="navbar__menu__contact">
        CONTACT US
      </a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<section class="footer">
  <div class="footer__content">
      <div class="footer__logo">
          <img src="./assets/logo_white.png" alt="" srcset="">
      </div>
      <p class="footer__content__body">
          Ariobimo Sentral, South Jakarta, RT.9/RW.4  <br/> 
          East Kuningan, Jakarta, 12950 
      </p>
  </div>
</section>