<div class="form">
  <div class="form__content">
    <h1 class="form__title">
      {{title}}
    </h1>
    <div class="form__body">
      <form [formGroup]="userForm" (submit)="submit()" class="form-container">
        <div class="input-form-grid">
          <mat-label class="form__key">Email</mat-label>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Email</mat-label>
            <input type="email" required matInput formControlName="email" />
          </mat-form-field>
        </div>
        <div class="input-form-grid">
          <mat-label class="form__key">Phone</mat-label>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Phone</mat-label>
            <input type="tel" required matInput formControlName="phone" />
          </mat-form-field>
        </div>
        <div class="input-form-grid">
          <mat-label class="form__key">Role</mat-label>
          <div class="form-field" appearance="outline">
            <mat-select formControlName="role" name="role" required>
              <mat-option value="">Select Roles</mat-option>
              <mat-option *ngFor="let r of roles$ | async" [value]="r.id">
                {{ r.name }}
              </mat-option>
            </mat-select>
          </div>
        </div>
        <div class="input-form-grid">
          <mat-label class="form__key">Password</mat-label>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="pass" />
          </mat-form-field>
        </div>
        <div class="input-form-grid">
          <mat-label class="form__key">Confirm Password</mat-label>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input type="password" matInput formControlName="confirmPassword" />
          </mat-form-field>
        </div>
        <!-- {{inventoryForm.value | json}} -->
        <button mat-raised-button type="submit" class="form-submit-btn">Submit</button>
      </form>
    </div>
  </div>
</div>