<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<div class="mat-elevation-z8 table-container">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="inboundTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Inbound Date </th>
      <td mat-cell *matCellDef="let row"> {{row.inboundTime}} </td>
    </ng-container>

    <ng-container matColumnDef="to">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> To </th>
      <td mat-cell *matCellDef="let row"> {{row.to}} </td>
    </ng-container>

    <ng-container matColumnDef="from">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> From </th>
      <td mat-cell *matCellDef="let row"> {{row.from}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let row"> {{row.status}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
      <td mat-cell *matCellDef="let row"> {{row.type}} </td>
    </ng-container>

    <ng-container matColumnDef="items">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Items </th>
      <td mat-cell *matCellDef="let row"> {{row.items | json}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
      <td mat-cell *matCellDef="let row">
        <button mat-raised-button color="primary" *ngIf="isApprovable(row)" (click)="onApprove(row)">Approve</button>
        <button mat-raised-button color="primary" *ngIf="isApprovable(row)" (click)="onReject(row)">Reject</button>
        
        <button mat-raised-button color="primary" *ngIf="isApproved(row,'outbound')" (click)="onOutbound(row)">Outbound</button>
        <button mat-raised-button color="primary" *ngIf="isApproved(row,'inbound')" (click)="onInbound(row)">Inbound</button>
        <button mat-raised-button color="primary" *ngIf="isCancellable(row)" (click)="onCancel(row)">Cancel Request</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>