.wh-search{
    &__content{
        display: grid;
    }
    &__img{
        max-width: 400px;
        margin: auto;
    }
    &__title{
        color: #656565;
        margin: auto;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        padding-top: 1rem;
    }
    &__body{
        max-width: 550px;
        margin: auto;
        margin-top: 2rem;
    }
    &__size-logo{
        width: 100%;
    }
}