<div class="wh-search">
  <div class="wh-search__content">
    <img src="./assets/warehouse.svg" alt="" class="wh-search__img">
    <h1 class="wh-search__title">
      Cari Warehouse
    </h1>
    <div class="wh-search__body">
      <form [formGroup]="whSearchForm" class="form-container">
        <div class="input-form-grid">
          
          <!-- {{formattedaddress}} -->
          <mat-label class="form__key">Warehouse Location</mat-label>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Warehouse Location</mat-label>
            <input type="text" required matInput 
              [country]="'ID'"
              matGoogleMapsAutocomplete
              (onAutocompleteSelected)="onAutocompleteSelected($event)"
              (onLocationSelected)="onLocationSelected($event)"/>
          </mat-form-field>
          <mat-label class="form__key">Estimated Space</mat-label>

          <div class="form-field--wq">
            <mat-form-field appearance="outline">
              <mat-label>Estimated Space</mat-label>
              <input type="number" formControlName="space" required matInput />
              <mat-hint *ngIf="whSearchForm.get('space').invalid && whSearchForm.get('space').touched" align="end">
                Numbers
                only</mat-hint>
            </mat-form-field>
            <mat-label class="form-quantifier">pallet</mat-label>
          </div>
          <mat-label class="form__key">Reservation Date</mat-label>
          <mat-form-field appearance="outline">
            <mat-label>Reservation Date</mat-label>
            <mat-date-range-input [formGroup]="whSearchForm" [rangePicker]="reservationPicker"
              [comparisonStart]="whSearchForm.value.startDate" [comparisonEnd]="whSearchForm.value.endDate">
              <input matStartDate placeholder="Start date" formControlName="startDate">
              <input matEndDate placeholder="End date" formControlName="endDate">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="reservationPicker"></mat-datepicker-toggle>
            <mat-date-range-picker #reservationPicker></mat-date-range-picker>
          </mat-form-field>
          
          <mat-label class="form__key">Size Units</mat-label>
          <img src="./assets/size_container.png" alt="" class="wh-search__size-logo">
        </div>
      </form>
      
      <button mat-raised-button class="form-submit-btn"
      (click)="search()">Search</button>
    </div>
  </div>
</div>