.wh-book{
    &__content{
        display: grid;
    }
    &__img{
        max-width: 550px;
        margin: auto;
    }
    
    &__logo{
        max-width: 80%;
        margin: auto;
        margin-top: 6rem;
    }
    &__info-title{
        color: #656565;
        margin: auto;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        padding-top: 1rem;
    }
    &__title{
        color: #656565;
        margin: auto;
        font-size: 2rem;
        font-weight: bold;
    }
    &__body{
        max-width: 550px;
        margin: auto;
        margin-top: 2rem;
    }
    &__icon{
        max-width: 25px;
        margin-right: .5rem;
    }
    &__location{
        color: #F7931E;
        display: flex;
        align-items: center;
        font-size: 0.8rem;
        font-weight: bold;
        padding: .5rem 0;
    }
    &__businesshour{
        color: #005A51;
        display: flex;
        align-items: center;
        font-size: 0.8rem;
        font-weight: bold;
    }
    &__sub-title{
        color: #656565;
        font-size: 1.2rem;
        font-weight: bold;
        padding: 1rem 0;
    }
    &__price-rate{
        &__price{
            font-size: 1.5rem;
            color: #F7931E;
            font-weight: bold;
        }
    }
    &__space{
        &__quantity{
            font-size: 1.5rem;
            color: #005A51;
            font-weight: bold;
        }
    }
    &__reservation{
        display: flex;
        justify-content: space-between;
        &__date{
            color: #005A51;
            display: flex;
            align-items: center;
            font-weight: bold;
        }
    }
    &__size-logo{
        width: 100%;
        padding: 0 0 0 2rem;
    }
    &__col{
        display: flex;
        justify-content: space-between;
    }
    &__total{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 1rem;
        &__amount{
            font-size: 2rem;
            font-weight: bold;
            color: #005A51;
        }
    }
}
.end{
    text-align: end;
}