<div class="wh-book" *ngIf="(warehouseDetail$ | async)">
  <div class="wh-book__content">
    <img src="./assets/warehouse.jpg" alt="" class="wh-book__img">
  </div>
  <div class="wh-book__body">
    
    <form [formGroup]="whBookForm" (submit)="book()" class="form-container">
      <h1 class="wh-book__title">
        {{(warehouseDetail$ | async).name}}
      </h1>
      <div class="wh-book__location">
        <img src="./assets/ic_location_on.png" class="wh-book__icon">
        <div class="wh-book__location__name">{{(warehouseDetail$ | async).location}}</div>
      </div>
      <div class="wh-book__businesshour">
        <img src="./assets/ic_access_time.png" class="wh-book__icon">
        <div class="wh-book__businesshour__time">{{(warehouseDetail$ | async).businessHour}}</div>
      </div>
      <div class="wh-book__col">
        <div class="wh-book__row">
          <div class="wh-book__price-rate">
            <div class="wh-book__sub-title">Rate Storage</div>
            <div class="wh-book__price-rate__price">{{pricePerUnit | currency:'IDR'}} / day</div>
          </div>
          <div class="wh-book__space">
            <div class="wh-book__sub-title">Space</div>
            <div class="form-field--wq">
              <mat-form-field appearance="outline">
                <input type="number" formControlName="space" required matInput (change)="spaceChanged()"/>
                <mat-hint *ngIf="whBookForm.get('space').invalid && whBookForm.get('space').touched" align="end">
                  Numbers only</mat-hint>
              </mat-form-field>
              <div class="form-quantifier">pallet</div>
            </div>
          </div>
        </div>
        <div class="wh-book__row">
          <div class="wh-book__unit">
            <div class="wh-book__sub-title end">Size unit</div>
            <img src="./assets/size_container.png" alt="" class="wh-book__size-logo">
          </div>
        </div>
      </div>
      
      <div class="wh-book__reservation">
        <div class="wh-book__reservation__col">
          <div class="wh-book__sub-title">Start Date</div>
          <div class="wh-book__reservation__date">
            <img src="./assets/ic_calendar_today.png" class="wh-book__icon">
            <span>{{(warehouseDetail$ | async).startDate | date: 'dd-MM-yyyy'}}</span>
          </div>
        </div>
        <div class="wh-book__reservation__col">
          <div class="wh-book__sub-title">End Date</div>
          <div class="wh-book__reservation__date">
            <img src="./assets/ic_calendar_today.png" class="wh-book__icon">
            <span>{{(warehouseDetail$ | async).endDate | date: 'dd-MM-yyyy'}}</span>
          </div>
        </div>
      </div>
      <div class="wh-book__total">
        <div class="wh-book__sub-title">Total</div>
        <div class="wh-book__total__amount">{{totalPrice | currency:'IDR'}}</div>
      </div>

      <button mat-raised-button type="submit" class="form-submit-btn">Book</button>
    </form>
  </div>
</div>
<div class="wh-book" *ngIf="!(warehouseDetail$ | async)">
  <div class="wh-book__content">
    <img src="./assets/warehouse_3.svg" alt="" class="wh-book__logo">  
  </div>
  <div class="wh-book__body">
    <div class="wh-book__info-title">Sorry, in we can't find spaces in that area</div>
    <button mat-raised-button type="submit" class="form-submit-btn">Contact Us</button>
  </div>
</div>