<div class="form">
  <div class="form__content">
    <h1 class="form__title">
      {{title}}
    </h1>
    <div class="form__body">
      <form [formGroup]="requestOutboundForm" (submit)="submit()" class="form-container">
        <div class="input-form-grid">
          <mat-label class="form__key">Nama Product</mat-label>
          <mat-label class="form__value-static">{{(product$ | async)?.name}}</mat-label>
        </div>
        <div class="input-form-grid">
          <mat-label class="form__key">SKU Principle</mat-label>
          <mat-label class="form__value-static">{{(product$ | async)?.skuPrinciple}}</mat-label>
        </div>
        <div class="input-form-grid">
          <mat-label class="form__key">Nama Principle</mat-label>
          <mat-label class="form__value-static">{{(principle$ | async)?.name}}</mat-label>
        </div>
        <div class="input-form-grid">
          <mat-label class="form__key">Dari Warehouse</mat-label>
          <mat-form-field class="form-field" appearance="outline">
            <mat-select required (selectionChange)="onWarehouseSelected($event)">
              <mat-option value="">Pilih warehouse</mat-option>
              <mat-option *ngFor="let w of (warehouseInventories$ | async)" [value]="w">
                {{w.warehouseName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="input-form-grid" *ngIf="stocks">
          <mat-label class="form__key">Expire Date</mat-label>
          <mat-form-field class="form-field" appearance="outline">
            <mat-select (selectionChange)="onStockSelected($event)">
              <mat-option value="">Pilih Stock</mat-option>
              <mat-option *ngFor="let s of stocks" [value]="s">
                {{formatStockData(s)}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <ng-template [ngIf]="!(product$|async)?.unique && maxStock>0">
          <div class="input-form-grid">
            <mat-label class="form__key">Qty</mat-label>
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Qty</mat-label>
              <input type="number" required matInput formControlName="qty" />
            </mat-form-field>
          </div>
          <div class="input-form-grid">
            <mat-label class="form__key">Quantifier</mat-label>
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Quantifier</mat-label>
              <input type="text" required matInput formControlName="quantifier" />
            </mat-form-field>
          </div>
        </ng-template>
        <!-- {{requestOutboundForm.value | json}} -->
        <button mat-raised-button type="submit" class="form-submit-btn"
          [disabled]="!requestOutboundForm.valid">Submit</button>
      </form>
    </div>
  </div>
</div>