<div class="page">
  <h3 class="error-page__title">
    404 Page not found
  </h3>
  <div class="error-page__content">

    <div class="error-page__content__row">
      Requested page is not found.
    </div>
    <div class="error-page__content__row">
      Please contact your administrator for details.
    </div>
  </div>
</div>