<div class="form">
  <div class="form__content">
    <h1 class="form__title">
      {{title}}
    </h1>
    <div class="form__body">
      <form [formGroup]="returnRequest" (submit)="submit()" class="form-container">

        <div class="image-container">
          <div *ngIf="imageSrc">
            <img [src]="imageSrc" alt="" />
          </div>
        </div>
        <div class="input-form-grid">
          <mat-label class="form__key">Nama Product</mat-label>
          <mat-label class="form__value-static">{{(product$ | async)?.name}}</mat-label>
        </div>
        <div class="input-form-grid">
          <mat-label class="form__key">SKU Principle</mat-label>
          <mat-label class="form__value-static">{{sku}}</mat-label>
        </div>
        <div class="input-form-grid">
          <mat-label class="form__key">Nama Principle</mat-label>
          <mat-label class="form__value-static">{{(principle$ | async)?.name}}</mat-label>
        </div>
        <div class="input-form-grid" *ngIf="returnRequest.value.type=='Client'">
          <mat-label class="form__key">Nama Client</mat-label>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Nama Client</mat-label>
            <input type="text" required matInput formControlName="name" />
          </mat-form-field>
        </div>
        <div class="input-form-grid" *ngIf="(product$|async)?.hasExpireDate">
          <mat-label class="form__key">Expire Date</mat-label>
          <mat-form-field appearance="outline">
            <mat-label>Expire Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="expiryDate" (dateChange)="dateChanged($event)">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="input-form-grid" *ngIf="(product$|async)?.hasRange">
          <mat-label class="form__key">SKUs</mat-label>
          <mat-selection-list #skus>
            <mat-list-option *ngFor="let sku of skusList">
              {{sku}}
            </mat-list-option>
          </mat-selection-list>
        </div>
        <ng-template [ngIf]="!(product$|async)?.unique">
          <div class="input-form-grid">
            <mat-label class="form__key">Qty</mat-label>
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Qty</mat-label>
              <input type="number" required matInput formControlName="qty" />
            </mat-form-field>
          </div>
        </ng-template>
        <!-- {{returnRequest.value | json}} -->
        <button mat-raised-button type="submit" class="form-submit-btn" [disabled]="!returnRequest.valid">Submit</button>
      </form>
    </div>
  </div>
</div>