<h1 mat-dialog-title class="td-dialog-title"> Contact Us</h1>
<mat-dialog-content>
  <div class="contact-row">
    <span class="contact_title">Whatsapp :</span>
    <a mat-raised-button color="primary" class="mat-focus-indicator mat-button mat-button-base mat-accent" href="https://api.whatsapp.com/send/?phone=6285216969611&text=Saya+ingin+book+warehouse">Contact us</a>
  </div>
  <div class="contact-row">
    <span class="contact_title">Telegram :</span>
    <span class="contact_value">+62 852-1696-9611</span>
  </div>
  <div class="contact-row">
    <span class="contact_title">Signal :</span>
    <span class="contact_value">+62 896-2154-9508</span>
  </div>
</mat-dialog-content>