<div class="form">
  <div class="form__content">
    <h1 class="form__title">
      {{title}}
    </h1>
    <div class="form__body">
      <form [formGroup]="outboundForm" (submit)="submit()" class="form-container">
        <div class="input-form-grid">
          <mat-label class="form__key">Nama Product</mat-label>
          <mat-label class="form__value-static">{{(product$ | async)?.name}}</mat-label>
        </div>
        <div class="input-form-grid">
          <mat-label class="form__key">SKU Principle</mat-label>
          <mat-label class="form__value-static">{{(product$ | async)?.skuPrinciple}}</mat-label>
        </div>
        <div class="input-form-grid">
          <mat-label class="form__key">Nama Principle</mat-label>
          <mat-label class="form__value-static">{{(principle$ | async)?.name}}</mat-label>
        </div>
        <div class="input-form-grid" *ngIf="outboundForm.value.to==='Client'">
          <mat-label class="form__key">Nama Client</mat-label>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Nama Client</mat-label>
            <input type="text" required matInput formControlName="name" />
          </mat-form-field>
        </div>
        <div class="input-form-grid" *ngIf="(product$|async)?.hasExpireDate">
          <mat-label class="form__key">Expire Date</mat-label>
          <mat-form-field class="form-field" appearance="outline">
            <mat-select (selectionChange)="onStockSelected($event)" formControlName="expiryDate"
              [disabled]="outboundForm.value?.status==='waitingactions'?'disabled' : null">
              <mat-option value="">Pilih Stock</mat-option>
              <mat-option *ngFor="let s of (warehouseInventory$ | async)" [value]="s.expiryDate">
                {{formatStockData(s)}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="input-form-grid" *ngIf="(product$|async)?.hasRange">
          <mat-label class="form__key">SKUs</mat-label>
          <mat-selection-list #skus>
            <mat-list-option *ngFor="let sku of skusList">
              {{sku}}
            </mat-list-option>
          </mat-selection-list>
        </div>

        <ng-template [ngIf]="!(product$|async)?.unique">
          <div class="input-form-grid">
            <mat-label class="form__key">Qty</mat-label>
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Qty</mat-label>
              <input type="number" required matInput formControlName="qty" />
            </mat-form-field>
          </div>
          <div class="input-form-grid">
            <mat-label class="form__key">Quantifier</mat-label>
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Quantifier</mat-label>
              <input type="text" required matInput formControlName="quantifier" />
            </mat-form-field>
          </div>
        </ng-template>

        <div class="input-form-grid" *ngIf="outboundForm.value?.status==='waitingactions'">
          <mat-label class="form__key">Kirim Ke</mat-label>
          <mat-label class="form__value-static">{{outboundForm.value?.to}}</mat-label>
        </div>
        <ng-template [ngIf]="outboundForm.value?.status!=='waitingactions'">
          <mat-label class="form__key">Transfer Tipe</mat-label>
          <div class="form-field">
            <mat-select formControlName="to" name="to" required (selectionChange)="onTransferTypeChanged($event)"
              [value]="outboundForm.value.to">
              <mat-option value="Client">Client</mat-option>
              <mat-option value="Principle">Principle</mat-option>
              <mat-option value="Scrap">Scrap</mat-option>
            </mat-select>
          </div>
        </ng-template>

        <!-- {{outboundForm.value | json}} -->
        <button mat-raised-button type="submit" class="form-submit-btn" [disabled]="!outboundForm.valid">Submit</button>
      </form>
    </div>
  </div>
</div>