<h2 mat-dialog-title>Scan Barcode</h2>
<mat-dialog-content class="mat-typography">
  <h3>Scan Produk anda...</h3>
  <input matInput [(ngModel)]="data.code" #input autofocus>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancel</button>
</mat-dialog-actions>