<div class="sidebar-container">
  <img src="assets/logo.png" alt="" class="sidebar-container__logo">
  <ng-template [ngIf]="isAuthenticated">
    <div class="user-container">
        <div class="username">{{sidebarVM.username}}</div>
        <div class="role">{{sidebarVM.role}}</div>
    </div>
    <div class="catalog">
        <div class="title">Account</div>
        <div class="amount">{{sidebarVM.balance}}</div>
    </div>
    <div class="menu-container">
        <ng-template ngFor let-menu [ngForOf]="sidebarVM.menus">
        <a rel="noreferrer noopener" (click)="onNavigate(menu.linkUrl)" class="menu">
            <img class="icon"
                src="{{menu.iconUrl}}"
                alt="">
            <div class="icon-name">{{menu.name}}</div>
        </a>
        </ng-template>
        <a rel="noreferrer noopener" (click)="onLogoutBtnClicked()" class="menu">
            <img class="icon"
                src=""
                alt="">
            <div class="icon-name">Sign Out</div>
        </a>
    </div>
  </ng-template>
  <ng-template [ngIf]="!isAuthenticated">
    <div class="menu-container">
        <a rel="noreferrer noopener" (click)="onLoginBtnClicked()" class="menu">
            <img class="icon"
                src=""
                alt="">
            <div class="icon-name">Login</div>
        </a>
    </div>
    
  </ng-template>
  <div class="footer-container">
      <select class="language-selector">
          <option value="English">English</option>
          <option value="Indonesia">Indonesia</option>
      </select>
      <div class="version">
          App Version :{{sidebarVM.appVersion}}
      </div>
  </div>
</div>
