$primary-color: #009688;
$secondary-color: #777777;
$third-color:#4527a0;
$link-color:#247bbd;
$link-hover-color:#c45500;
$alert-color:#212121;
$inverted-color:white;
$primary-background-color:white;
$secondary-background-color:#F8F8FB;
$inverted-background-color:#4db6ac;
$border:1px solid #95989A;
$border-radius:5px;
$primary-font-family:Lato;
$font-size-bg:2rem;
$font-size-lg:1.5rem;
$font-size-md:1.25rem;
$font-size-sm:1rem;
$font-size-xs:0.8rem;