<div class="wh-list">
  <div class="wh-list__content">
    
    <img *ngIf="(warehouses$ | async)?.length==0" src="./assets/warehouse_2.svg" 
    alt="" class="wh-list__img">
    <div class="wh-list__body">
      <ng-template [ngIf]="(warehouses$ | async)?.length>0">
        <ng-template ngFor let-item [ngForOf]="(warehouses$ | async)" let-i="index">
          <div class="wh-list__element">
            <div class="wh-list__element__name">{{item.name}}</div>
            <div class="wh-list__row">
              <div class="wh-list__col">
                <!-- <div class="wh-list__element__location">
                  <img src="./assets/ic_location_on.png" class="wh-list__icon">{{item.location}}
                </div> -->
                <div class="wh-list__element__businesshour">
                  <img src="./assets/ic_access_time.png" class="wh-list__icon">{{item.businessHour}}
                </div>
              </div>
              <!-- <div class="wh-list__col">
                <div class="wh-list__element__space">
                  {{item.spaceAvailable}} pallet
                </div>
              </div> -->
            </div>
            <div class="wh-list__button-container">
              <button mat-raised-button color="primary" class="wh-list__button" (click)="editWarehouse(item)">Manage</button>
              <button mat-raised-button type="submit" color="warn" class="wh-list__button" (click)="deleteWarehouse(item)">Delete</button>
            </div>
            <hr class="wh-list__hr">
          </div>
        </ng-template>
      </ng-template>
      <ng-template [ngIf]="(warehouses$ | async)?.length==0">
        <div class="wh-list__title">Empty Warehouse</div>
      </ng-template>
      <button mat-raised-button class="form-submit-btn" [routerLink]="['/warehouse/add']" (click)="addWarehouse()">Add Warehouse</button>
    </div>
    
  </div>
</div>