<div class="form">
  <div class="form__content">
    <h1 class="form__title">
      {{title}}
    </h1>
    <div class="form__body">
      <form [formGroup]="whForm" (submit)="submit()" class="form-container">
        <div class="input-form-grid">
          <mat-label class="form__key">Name</mat-label>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Name</mat-label>
            <input type="text" required matInput formControlName="name" />
          </mat-form-field>
          
          <ng-template [ngIf]="!editMode">
          <mat-label class="form__key">PIC</mat-label>
          <div class="form-field">
            <mat-select formControlName="ownerId" name="ownerId" required>
              <mat-option value="">Select PIC</mat-option>
              <mat-option *ngFor="let owner of owner$ | async" [value]="owner.ownerId">
                {{ owner.ownerName }}
              </mat-option>
            </mat-select>
          </div>
          </ng-template>
<!-- 
          <mat-label class="form__key">Estimated Space</mat-label>
          <div class="form-field--wq">
            <mat-form-field appearance="outline">
              <mat-label>Estimated Space</mat-label>
              <input type="number" formControlName="space" required matInput />
            </mat-form-field>
            <mat-label class="form-quantifier">pallet</mat-label>
          </div> -->

          <mat-label class="form__key">Chillers</mat-label>
          <div class="form-field--wq">
            <mat-form-field appearance="outline">
              <mat-label>Chillers</mat-label>
              <input type="number" formControlName="chiller" required matInput />
            </mat-form-field>
            <mat-label class="form-quantifier">pcs</mat-label>
          </div>
          <mat-label class="form__key">Freezers</mat-label>
          <div class="form-field--wq">
            <mat-form-field appearance="outline">
              <mat-label>Freezers</mat-label>
              <input type="number" formControlName="freezer" required matInput />
            </mat-form-field>
            <mat-label class="form-quantifier">pcs</mat-label>
          </div>
          
          <mat-label class="form__key">Opens</mat-label>
          <div class="form-field">
            <ngx-timepicker-field [defaultTime]="startTime" formControlName="opens" (timeChanged)="startTimeChanged($event)"></ngx-timepicker-field>
          </div>

          <mat-label class="form__key">Closed</mat-label>
          <div class="form-field">
            <ngx-timepicker-field [defaultTime]="endTime" formControlName="closed" (timeChanged)="endTimeChanged($event)"></ngx-timepicker-field>
          </div>
          
          <!-- <mat-label class="form__key form__row">Location</mat-label>
          <div class="map__container form__row">
            <mat-card class="map__text-container">
              <input class="map__text" type="text" matGoogleMapsAutocomplete [country]="'id'"
              (onAutocompleteSelected)="onAutocompleteSelected($event)"
              (onLocationSelected)="onLocationSelected($event)" required>
            </mat-card>
            <agm-map class="map__m" [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
              <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
            </agm-map>
          </div> -->
        </div>
        <!-- {{whForm.value | json}} -->
        <button mat-raised-button type="submit" class="form-submit-btn">Submit</button>
      </form>
    </div>
  </div>
</div>