.map{
    &__text{
        width: 80%;
        border: 0px;
        font-size: 1rem;
        padding: 1rem;
    }
    &__text-container{
        padding: 0 !important;
        margin: 1rem;
        position: absolute;
        z-index: 1;
    }
    &__m{
        height: 500px;
        min-width: 100%;
    }
    &__container{
        
    }
}