.footer{
    font-family: Mina;
    background-color: #333333;
    padding: 3rem;
    &__content{
        text-align: center;
        line-height: 1.5rem;
        &__body{
            color: white;
        }
    }
    &__logo{
        height: 5rem;
    }
}