<nav class="navbar">
  <div class="navbar__content--mobile">
    <div class="navbar__spacer"></div>
    <a routerLink="/" class="navbar__menu--mid">
      <img alt="FluctWare's logo" class="navbar__logo" src="./assets/logo.png">
    </a>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <ng-template [ngIf]="!(isAuthenticated$ | async)">
        <button mat-menu-item (click)="onLoginBtnClicked()">
          <mat-icon>login</mat-icon>
          <span>Login</span>
        </button>
        <button mat-menu-item (click)="onRegisterBtnClicked()">
          <mat-icon>assignment</mat-icon>
          <span>Register</span>
        </button>
      </ng-template>

      <ng-template [ngIf]="(isAuthenticated$ | async)">
        <button mat-menu-item [routerLink]="['/transfer']" *ngIf="(userData$ | async)?.roles==='partner'">
          <mat-icon>home</mat-icon>
          <span>Transfer Management</span>
        </button>
        <button mat-menu-item [routerLink]="['/inventory/list']" *ngIf="(userData$ | async)?.roles==='partner'">
          <mat-icon>home</mat-icon>
          <span>Inventory Management</span>
        </button>
        <button mat-menu-item [routerLink]="['/users/list']" *ngIf="(userData$ | async)?.roles==='superadmin'">
          <mat-icon>home</mat-icon>
          <span>Users Management</span>
        </button>
        <button mat-menu-item [routerLink]="['/principle/list']" *ngIf="(userData$ | async)?.roles==='superadmin'">
          <mat-icon>home</mat-icon>
          <span>Principle Management</span>
        </button>
        <button mat-menu-item [routerLink]="['/product/list']" *ngIf="(userData$ | async)?.roles==='superadmin'">
          <mat-icon>home</mat-icon>
          <span>Product Management</span>
        </button>
        <button mat-menu-item [routerLink]="['/warehouse/list']" *ngIf="(userData$ | async)?.roles==='superadmin'">
          <mat-icon>home</mat-icon>
          <span>Warehouse Management</span>
        </button>
        
      <button mat-menu-item [routerLink]="['/transfer/history']" *ngIf="(userData$ | async)?.roles==='partner'">
        <mat-icon>home</mat-icon>
        <span>Transfer History</span>
      </button>
      <button mat-menu-item [routerLink]="['/transfer/request']" *ngIf="(userData$ | async)?.roles==='partner'">
        <mat-icon>home</mat-icon>
        <span>Transfer Request</span>
      </button>
      <button mat-menu-item [routerLink]="['/principle/dashboard']">
        <mat-icon>home</mat-icon>
        <span>Dashboard</span>
      </button>
        <button mat-menu-item (click)="onLogoutBtnClicked()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </ng-template>
    </mat-menu>
  </div>
</nav>

<router-outlet></router-outlet>