.input-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-container {
    width: 100%;
}
.form-field{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.form__key{
    padding: 1rem;
}