.about-us__background {
  text-align: center;
  overflow: hidden;
  z-index: -1;
}
.about-us__background__image {
  width: 100vw;
}
.about-us__content {
  max-width: 1440px;
  margin: auto;
  color: #fff;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.7);
  padding: 2rem;
  border-radius: 2rem;
}
.about-us__content__title {
  font-size: 4rem;
  margin-bottom: 2rem;
  line-height: 5rem;
}
.about-us__content__body {
  font-size: 2rem;
  line-height: 3rem;
}

.vision {
  max-width: 1440px;
  margin: auto;
}
.vision__content {
  text-align: center;
  color: black;
  padding: 2rem;
}
.vision__content__title {
  font-size: 3rem;
  margin-bottom: 2rem;
  line-height: 5rem;
}
.vision__content__sub-title {
  font-size: 2.5rem;
  line-height: 3rem;
  text-align: start;
  padding: 2rem 0;
}
.vision__content__body {
  font-size: 2rem;
  line-height: 3rem;
}