.our-team{
    max-width: 1440px;
    margin: auto;
    &__content{
        padding: 2rem;
        border-radius: 2rem;
        &__title{
            font-size: 4rem;
            margin-bottom: 2rem;
            line-height: 5rem;
            text-align: center;
        }
        &__body{
            font-size: 2rem;
            line-height: 3rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
            & .container{
                color: #fff;
                background: #005A51;
                text-align: center;
                border-radius: 1rem;
                margin: 1rem;
                padding: 2rem;
                &__title{
                    font-size: 3rem;
                    line-height: 4rem;
                    padding-bottom: 1rem;
                }
            }
        }
    }
}
.certifications{
    max-width: 1440px;
    margin: auto;
    &__content{
        padding: 2rem;
        border-radius: 2rem;
        &__title{
            font-size: 4rem;
            margin-bottom: 2rem;
            line-height: 5rem;
            text-align: center;
        }
        &__body{
            display: flex;
            flex-wrap: wrap;
        }
    }
    &__group{
        display: flex;
        padding-bottom: 1rem;
        width: 100%;
        justify-content: space-around;
    }
}