<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  <button mat-raised-button class="form-submit-btn" [routerLink]="['/transfer']">Transfer</button>
</mat-form-field>

<div class="mat-elevation-z8 table-container">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Inbound Date </th>
      <td mat-cell *matCellDef="let row"> {{row.product.name}} </td>
    </ng-container>

    <ng-container matColumnDef="skuPrinciple">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> SKU </th>
      <td mat-cell *matCellDef="let row"> {{row.product.skuPrinciple}} </td>
    </ng-container>

    <ng-container matColumnDef="qty">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Qty </th>
      <td mat-cell *matCellDef="let row"> {{row.qty}} </td>
    </ng-container>

    <ng-container matColumnDef="expiryDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Expiry Date </th>
      <td mat-cell *matCellDef="let row"> {{row.expiryDate | date}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
      <td mat-cell *matCellDef="let row">
        <button mat-raised-button color="primary" (click)="historyInventory(row)">Adjustment Logs</button>
        <button mat-raised-button color="primary" (click)="editInventory(row)">Edit</button>
        <button mat-raised-button color="primary" (click)="return(row)">Return</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
