.input-form-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
}
.image-container{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    & img{
        width: 100%
    }
}

.form-container {
    width: 100%;
}
.form-field--wq{
    display: grid;
    grid-template-columns: 3fr 1fr;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.form{
    &__title{
        color: #656565;
        margin: auto;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        padding-top: 1rem;

    }
    &__body{
        max-width: 550px;
        margin: auto;
        margin-top: 2rem;
    }
    &__key{
        padding: 1rem;
        font-weight: bold;
        color: #656565;
    }
    &__value-static{
        padding: 1rem;
        font-weight: bold;
        color: #656565;
    }
    &__row{
        grid-column-start: 1;
        grid-column-end: 3;
    }
}
.form-quantifier{
    font-weight: bold;
    color: #005A51;
    font-size: 1.5rem;
    margin-left: 1rem;
}
.form-submit-btn{
    margin-top: 2rem !important;
    width: 100%;
    height: 50px;
    color: white;
    background-color: #005A51;
    font-weight: bold;
    cursor: pointer;
}