<div class="form">
  <div class="form__content">
    <h1 class="form__title">
      {{title}}
    </h1>
    <div class="form__body">
      <form [formGroup]="principleForm" class="form-container">
        <div class="input-form-grid">
          <mat-label class="form__key">Nama Principle</mat-label>
          <div class="form-field">
            <mat-select formControlName="id" name="id" required
              (selectionChange)="onPrincipleChange($event)">
              <mat-option value="">Select Principle</mat-option>
              <mat-option *ngFor="let principle of principles$ | async" [value]="principle.id">
                {{ principle.name }}
              </mat-option>
            </mat-select>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>