.wh-list{
    &__content{
      display: grid;
    }
    &__body{
        max-width: 550px;
        margin: auto;
        width: 100%;
    }
    &__button-container{
       display: flex;
       justify-content: end;
       margin: 1rem 0;
    }
    &__button{
       margin: 0 0 0 1rem;
    }
    &__hr{
       opacity: 30%;
    }
    &__element{
       padding: 1rem 0;
        &__name{
           color: #656565;
           font-size: 1.5rem;
           font-weight: bold;
        }
        &__location{
           color: #F7931E;
           font-size: 0.8rem;
           font-weight: bold;
        }
        &__space{
         font-size: 1.5rem;
         color: #005A51;
         font-weight: bold;
        }
        &__businesshour{
           color: #005A51;
           font-size: 0.8rem;
           font-weight: bold;
        }
    }
    &__icon{
       max-width: 25px;
       margin-right: .5rem;
    }
    &__row{
       display: flex;
       justify-content: space-between;
      align-items: end;
    }
    &__title{
      color: #656565;
      margin: auto;
      font-size: 1.5rem;
      font-weight: bold;
      text-align: center;
      padding-top: 1rem;
    }
    &__img{
        max-width: 400px;
        margin: auto;
        margin-top: 6rem;
    }
   }