// Base: animations, base, typography, and utilies.
// Components: have a single scss file for each individual component
// Layout: Header, footer, grid, navigation
// Pages: Have a single scss for each specific page
// Themes: deals with various themes (optional, I haven’t use it yet)
// Utils: handles function, mixins, and variables
// Vendor: handles 3rd party css

@import './utils/_modules.scss';
@import './base/_module.scss';
@import './theme/_module.scss';
@import './component/_module.scss';
@import './layout/_module.scss';
@import './pages/_modules.scss';
@import './vendor/modules';

/* #endregion */
@font-face {
    font-family: Mina;
    font-style: normal;
    font-weight: normal;
    src: url("./fonts/Mina/Mina-Regular.ttf") format("truetype"); }
  
  @font-face {
    font-family: Mina;
    font-style: normal;
    font-weight: bold;
    src: url("./fonts/Mina/Mina-Bold.ttf") format("truetype"); }
  